# Backend API base URL
VITE_API_BASE_URL=http://localhost:8000

# Firebase Web Config
VITE_FB_API_KEY=AIzaSyBxFiaRSJve14XY5VzbnVM4HBrGoeMzzmE
VITE_FB_AUTH_DOMAIN=practical-now-467207-i1.firebaseapp.com
VITE_FB_PROJECT_ID=practical-now-467207-i1
VITE_FB_STORAGE_BUCKET=practical-now-467207-i1.firebasestorage.app
VITE_FB_MESSAGING_SENDER_ID=382380612989
VITE_FB_APP_ID=1:382380612989:web:8794849dfe5fa03a220014
VITE_FB_MEASUREMENT_ID=G-GG8MYXM11X
